*.framework
AdiumQQ/libqq-pidgin/libqq-pidgin/*
*.xcbkptlist
AdiumQQ.xcodeproj/project.xcworkspace/xcuserdata/will.xcuserdatad/UserInterfaceState.xcuserstate

AdiumQQ 1-4-12 7.00 PM/Users/will/Library/Application Support/Adium 2.0/PlugIns/AdiumQQ.AdiumLibpurplePlugin.zip

AdiumQQ 1-4-12 7.00 PM/Users/will/Library/Application Support/Adium 2.0/PlugIns/AdiumQQ.AdiumLibpurplePlugin/Contents/Info.plist

AdiumQQ 1-4-12 7.00 PM/Users/will/Library/Application Support/Adium 2.0/PlugIns/AdiumQQ.AdiumLibpurplePlugin/Contents/MacOS/AdiumQQ

AdiumQQ 1-4-12 7.00 PM/Users/will/Library/Application Support/Adium 2.0/PlugIns/AdiumQQ.AdiumLibpurplePlugin/Contents/Resources/PurpleDefaultsQQ.plist

AdiumQQ 1-4-12 7.00 PM/Users/will/Library/Application Support/Adium 2.0/PlugIns/AdiumQQ.AdiumLibpurplePlugin/Contents/Resources/QQ.png

AdiumQQ 1-4-12 7.00 PM/Users/will/Library/Application Support/Adium 2.0/PlugIns/AdiumQQ.AdiumLibpurplePlugin/Contents/Resources/QQAccountView.nib

AdiumQQ 1-4-12 7.00 PM/Users/will/Library/Application Support/Adium 2.0/PlugIns/AdiumQQ.AdiumLibpurplePlugin/Contents/Resources/en.lproj/InfoPlist.strings

AdiumQQ 1-4-12 7.00 PM/Users/will/Library/Application Support/Adium 2.0/PlugIns/AdiumQQ.AdiumLibpurplePlugin/Contents/Resources/libqq-pidgin-Info.plist
