<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Contributor</key>
	<array>
		<string>楠窗听雨</string>
		<string>William Orr</string>
	</array>
	<key>Website</key>
	<array>
		<string>http://www.wjnan.com</string>
		<string>http://worrbase.com</string>
	</array>
	<key>Service Class</key>
	<string>QQ</string>
	<key>Emoticons</key>
	<dict>
		<key>icon_wx.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/wx$</string>
			</array>
			<key>Name</key>
			<string>微笑-Smile</string>
		</dict>
		<key>icon_pz.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/pz$</string>
			</array>
			<key>Name</key>
			<string>撇嘴-Grimace</string>
		</dict>
		<key>icon_se.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/se$</string>
			</array>
			<key>Name</key>
			<string>色-Drooling</string>
		</dict>
		<key>icon_fd.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/fd$</string>
			</array>
			<key>Name</key>
			<string>发呆-Scowl</string>
		</dict>
		<key>icon_dy.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/dy$</string>
			</array>
			<key>Name</key>
			<string>得意-Chill</string>
		</dict>
		<key>icon_ll.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/ll$</string>
			</array>
			<key>Name</key>
			<string>流泪-Sob</string>
		</dict>
		<key>icon_hx.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/hx$</string>
			</array>
			<key>Name</key>
			<string>害羞-Shy</string>
		</dict>
		<key>icon_bz.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/bz$</string>
			</array>
			<key>Name</key>
			<string>闭嘴-Silence</string>
		</dict>
		<key>icon_shui.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/shui$</string>
			</array>
			<key>Name</key>
			<string>睡-Sleep</string>
		</dict>
		<key>icon_dk.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/dk$</string>
			</array>
			<key>Name</key>
			<string>大哭-Cry</string>
		</dict>
		<key>icon_gg.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/gg$</string>
			</array>
			<key>Name</key>
			<string>尴尬-Embarrassed</string>
		</dict>
		<key>icon_fn.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/fn$</string>
			</array>
			<key>Name</key>
			<string>发怒-On Fire</string>
		</dict>
		<key>icon_tp.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/tp$</string>
			</array>
			<key>Name</key>
			<string>调皮-Wink</string>
		</dict>
		<key>icon_cy.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/cy$</string>
			</array>
			<key>Name</key>
			<string>呲牙-Grin</string>
		</dict>
		<key>icon_jy.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/jy$</string>
			</array>
			<key>Name</key>
			<string>惊讶-Surprised</string>
		</dict>
		<key>icon_ng.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/ng$</string>
			</array>
			<key>Name</key>
			<string>难过-Frown</string>
		</dict>
		<key>icon_kuk.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/kuk$</string>
			</array>
			<key>Name</key>
			<string>酷-Cool</string>
		</dict>
		<key>icon_lengh.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/lengh$</string>
			</array>
			<key>Name</key>
			<string>冷汗-Blush</string>
		</dict>
		<key>icon_zk.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/zk$</string>
			</array>
			<key>Name</key>
			<string>抓狂-Scream</string>
		</dict>
		<key>icon_tu.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/tu$</string>
			</array>
			<key>Name</key>
			<string>吐-Puke</string>
		</dict>
		<key>icon_tx.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/tx$</string>
			</array>
			<key>Name</key>
			<string>偷笑-Chuckle</string>
		</dict>
		<key>icon_ka.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/ka$</string>
			</array>
			<key>Name</key>
			<string>可爱-Pleased</string>
		</dict>
		<key>icon_by.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/by$</string>
			</array>
			<key>Name</key>
			<string>白眼-Doubtful</string>
		</dict>
		<key>icon_am.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/am$</string>
			</array>
			<key>Name</key>
			<string>傲慢-Smug</string>
		</dict>
		<key>icon_jie.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/jie$</string>
			</array>
			<key>Name</key>
			<string>饥饿-Sneer</string>
		</dict>
		<key>icon_kun.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/kun$</string>
			</array>
			<key>Name</key>
			<string>困-Drowsy</string>
		</dict>
		<key>icon_jk.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/jk$</string>
			</array>
			<key>Name</key>
			<string>惊恐-Panic</string>
		</dict>
		<key>icon_sweat.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/sweat$</string>
			</array>
			<key>Name</key>
			<string>流汗-Sweating</string>
		</dict>
		<key>icon_hanx.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/hanx$</string>
			</array>
			<key>Name</key>
			<string>憨笑-Laugh</string>
		</dict>
		<key>icon_db.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/db$</string>
			</array>
			<key>Name</key>
			<string>大兵-Soldier</string>
		</dict>
		<key>icon_fendou.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/fendou$</string>
			</array>
			<key>Name</key>
			<string>奋斗-Strive</string>
		</dict>
		<key>icon_zhm.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/zhm$</string>
			</array>
			<key>Name</key>
			<string>咒骂-Scold</string>
		</dict>
		<key>icon_yiw.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/yiw$</string>
			</array>
			<key>Name</key>
			<string>疑问/Confused</string>
		</dict>
		<key>icon_xu.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/xu$</string>
			</array>
			<key>Name</key>
			<string>嘘-Shhh</string>
		</dict>
		<key>icon_yun.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/yun$</string>
			</array>
			<key>Name</key>
			<string>晕-Hypnotize</string>
		</dict>
		<key>icon_zhem.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/zhem$</string>
			</array>
			<key>Name</key>
			<string>折磨-Frustrated</string>
		</dict>
		<key>icon_shuai.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/shuai$</string>
			</array>
			<key>Name</key>
			<string>衰-In the Dark</string>
		</dict>
		<key>icon_kl.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/kl$</string>
			</array>
			<key>Name</key>
			<string>骷髅-Skull</string>
		</dict>
		<key>icon_qiao.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/qiao$</string>
			</array>
			<key>Name</key>
			<string>敲打-Hammer</string>
		</dict>
		<key>icon_zj.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/zj$</string>
			</array>
			<key>Name</key>
			<string>再见-Wave</string>
		</dict>
		<key>icon_wipe.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/wipe$</string>
			</array>
			<key>Name</key>
			<string>擦汗-Relieved</string>
		</dict>
		<key>icon_kb.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/kb$</string>
			</array>
			<key>Name</key>
			<string>抠鼻-Pick Nose</string>
		</dict>
		<key>icon_gz.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/gz$</string>
			</array>
			<key>Name</key>
			<string>鼓掌-Applause</string>
		</dict>
		<key>icon_qd.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/qd$</string>
			</array>
			<key>Name</key>
			<string>糗大了-Flushed</string>
		</dict>
		<key>icon_huaix.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/huaix$</string>
			</array>
			<key>Name</key>
			<string>坏笑-Hellooo</string>
		</dict>
		<key>icon_zhh.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/zhh$</string>
			</array>
			<key>Name</key>
			<string>左哼哼-Snub 1</string>
		</dict>
		<key>icon_yhh.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/yhh$</string>
			</array>
			<key>Name</key>
			<string>右哼哼-Snub 2</string>
		</dict>
		<key>icon_hq.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/hq$</string>
			</array>
			<key>Name</key>
			<string>哈欠-Yawn</string>
		</dict>
		<key>icon_bs.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/bs$</string>
			</array>
			<key>Name</key>
			<string>鄙视-Booo</string>
		</dict>
		<key>icon_wq.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/wq$</string>
			</array>
			<key>Name</key>
			<string>委屈-Distressed</string>
		</dict>
		<key>icon_kk.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/kk$</string>
			</array>
			<key>Name</key>
			<string>快哭了-Sniffle</string>
		</dict>
		<key>icon_yx.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/yx$</string>
			</array>
			<key>Name</key>
			<string>阴险-Sly</string>
		</dict>
		<key>icon_qq.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/qq$</string>
			</array>
			<key>Name</key>
			<string>亲亲-Pucker</string>
		</dict>
		<key>icon_xia.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/xia$</string>
			</array>
			<key>Name</key>
			<string>吓-Uh Oh</string>
		</dict>
		<key>icon_kel.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/kel$</string>
			</array>
			<key>Name</key>
			<string>可怜-Whimper</string>
		</dict>
		<key>icon_cd.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/cd$</string>
			</array>
			<key>Name</key>
			<string>菜刀-Cleaver</string>
		</dict>
		<key>icon_xig.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/xig$</string>
			</array>
			<key>Name</key>
			<string>西瓜-Watermelon</string>
		</dict>
		<key>icon_pj.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/pj$</string>
			</array>
			<key>Name</key>
			<string>啤酒-Beer</string>
		</dict>
		<key>icon_lq.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/lq$</string>
			</array>
			<key>Name</key>
			<string>篮球-Basketball</string>
		</dict>
		<key>icon_pp.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/pp$</string>
			</array>
			<key>Name</key>
			<string>乒乓-Ping Pong</string>
		</dict>
		<key>icon_coffee.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/coffee$</string>
			</array>
			<key>Name</key>
			<string>咖啡-coffee</string>
		</dict>
		<key>icon_fan.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/fan$</string>
			</array>
			<key>Name</key>
			<string>饭-Rice</string>
		</dict>
		<key>icon_zt.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/zt$</string>
			</array>
			<key>Name</key>
			<string>猪头-Pig</string>
		</dict>
		<key>icon_mg.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/mg$</string>
			</array>
			<key>Name</key>
			<string>玫瑰-Rose</string>
		</dict>
		<key>icon_dx.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/dx$</string>
			</array>
			<key>Name</key>
			<string>凋谢-Wilt</string>
		</dict>
		<key>icon_sa.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/sa$</string>
			</array>
			<key>Name</key>
			<string>示爱-Kisses</string>
		</dict>
		<key>icon_xin.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/xin$</string>
			</array>
			<key>Name</key>
			<string>爱心-Heart</string>
		</dict>
		<key>icon_xs.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/xs$</string>
			</array>
			<key>Name</key>
			<string>心碎-Broken Heart</string>
		</dict>
		<key>icon_dg.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/dg$</string>
			</array>
			<key>Name</key>
			<string>蛋糕-Cake</string>
		</dict>
		<key>icon_shd.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/shd$</string>
			</array>
			<key>Name</key>
			<string>闪电-Lightning</string>
		</dict>
		<key>icon_zhd.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/zhd$</string>
			</array>
			<key>Name</key>
			<string>炸弹-Bomb</string>
		</dict>
		<key>icon_dao.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/dao$</string>
			</array>
			<key>Name</key>
			<string>刀-Dagger</string>
		</dict>
		<key>icon_zq.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/zq$</string>
			</array>
			<key>Name</key>
			<string>足球-Soccer</string>
		</dict>
		<key>icon_pc.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/pc$</string>
			</array>
			<key>Name</key>
			<string>瓢虫-Ladybug</string>
		</dict>
		<key>icon_bb.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/bb$</string>
			</array>
			<key>Name</key>
			<string>便便-Poop</string>
		</dict>
		<key>icon_yl.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/yl$</string>
			</array>
			<key>Name</key>
			<string>月亮-Moon</string>
		</dict>
		<key>icon_ty.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/ty$</string>
			</array>
			<key>Name</key>
			<string>太阳-Sun</string>
		</dict>
		<key>icon_lw.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/lw$</string>
			</array>
			<key>Name</key>
			<string>礼物-Present</string>
		</dict>
		<key>icon_yb.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/yb$</string>
			</array>
			<key>Name</key>
			<string>拥抱-Hug</string>
		</dict>
		<key>icon_qiang.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/qiang$</string>
			</array>
			<key>Name</key>
			<string>强-Thumbs Up</string>
		</dict>
		<key>icon_ruo.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/ruo$</string>
			</array>
			<key>Name</key>
			<string>弱-Thumbs Down</string>
		</dict>
		<key>icon_ws.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/ws$</string>
			</array>
			<key>Name</key>
			<string>握手-Shake</string>
		</dict>
		<key>icon_shl.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/shl$</string>
			</array>
			<key>Name</key>
			<string>胜利-Victory</string>
		</dict>
		<key>icon_bq.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/bq$</string>
			</array>
			<key>Name</key>
			<string>抱拳-Admire</string>
		</dict>
		<key>icon_gy.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/gy$</string>
			</array>
			<key>Name</key>
			<string>勾引-Beckon</string>
		</dict>
		<key>icon_qt.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/qt$</string>
			</array>
			<key>Name</key>
			<string>拳头-Fist</string>
		</dict>
		<key>icon_cj.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/cj$</string>
			</array>
			<key>Name</key>
			<string>差劲-Pinky</string>
		</dict>
		<key>icon_aini.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/aini$</string>
			</array>
			<key>Name</key>
			<string>爱你-Love</string>
		</dict>
		<key>icon_bu.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/bu$</string>
			</array>
			<key>Name</key>
			<string>不行-No No</string>
		</dict>
		<key>icon_hd.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/hd$</string>
			</array>
			<key>Name</key>
			<string>好的-OK</string>
		</dict>
		<key>icon_aiq.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/aiq$</string>
			</array>
			<key>Name</key>
			<string>爱情-Lovebirds</string>
		</dict>
		<key>icon_fw.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/fw$</string>
			</array>
			<key>Name</key>
			<string>飞吻-In Love</string>
		</dict>
		<key>icon_tiao.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/tiao$</string>
			</array>
			<key>Name</key>
			<string>跳跳-Waddle</string>
		</dict>
		<key>icon_fad.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/fad$</string>
			</array>
			<key>Name</key>
			<string>发抖-Sit</string>
		</dict>
		<key>icon_oh.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/oh$</string>
			</array>
			<key>Name</key>
			<string>怄火-Aaagh!</string>
		</dict>
		<key>icon_zhq.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/zhq$</string>
			</array>
			<key>Name</key>
			<string>转圈-Twirl</string>
		</dict>
		<key>icon_kt.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/kt$</string>
			</array>
			<key>Name</key>
			<string>磕头-Bow</string>
		</dict>
		<key>icon_ht.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/ht$</string>
			</array>
			<key>Name</key>
			<string>回头-Turn Away</string>
		</dict>
		<key>icon_tsh.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/tsh$</string>
			</array>
			<key>Name</key>
			<string>跳绳-Jump</string>
		</dict>
		<key>icon_hsh.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/hsh$</string>
			</array>
			<key>Name</key>
			<string>挥手-Surrender</string>
		</dict>
		<key>icon_jd.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/jd$</string>
			</array>
			<key>Name</key>
			<string>激动-Hooray</string>
		</dict>
		<key>icon_jw.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/jw$</string>
			</array>
			<key>Name</key>
			<string>街舞-Hey Hey</string>
		</dict>
		<key>icon_xw.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/xw$</string>
			</array>
			<key>Name</key>
			<string>献吻-Smooches</string>
		</dict>
		<key>icon_ztj.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/ztj$</string>
			</array>
			<key>Name</key>
			<string>左太极-Fighting Girl</string>
		</dict>
		<key>icon_ytj.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/ytj$</string>
			</array>
			<key>Name</key>
			<string>右太极-Fighting Boy</string>
		</dict>
		<key>icon_wen.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/wen$</string>
			</array>
			<key>Name</key>
			<string>吻-Kiss</string>
		</dict>
	</dict>
</dict>
</plist>
